# Exclude next-swc.darwin-x64.node

node_modules/.pnpm/@next+swc-darwin-x64*/node_modules/@next/swc-darwin-x64/next-swc.darwin-x64.node
node_modules/next/next-swc-fallback/@next/swc-darwin-x64/next-swc.darwin-x64.node
